iframe{
    -webkit-transition-duration: 300ms;
}

iframe.blur1{
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -moz-filter: blur(3px);
    -o-filter: blur(3px); 
    -ms-filter: blur(3px);
    filter: url(filter.svg#blur1);
}
iframe.blur2{
    filter: blur(9px);
    -webkit-filter: blur(9px); 
    -moz-filter: blur(9px);
    -o-filter: blur(9px); 
    -ms-filter: blur(9px);
    filter: url(filter.svg#blur2);
}
iframe.blur3{
    filter: blur(15px);
    -webkit-filter: blur(15px); 
    -moz-filter: blur(15px);
    -o-filter: blur(15px); 
    -ms-filter: blur(15px);
    filter: url(filter.svg#blur3);
}
iframe.blur4{
    filter: blur(20px); 
    -webkit-filter: blur(20px); 
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: url(filter.svg#blur4);
}
iframe.blur5{
    filter: blur(28px); 
    -webkit-filter: blur(28px); 
    -moz-filter: blur(28px);
    -o-filter: blur(28px); 
    -ms-filter: blur(28px);
    filter: url(filter.svg#blur5);
}

#glasses_container {
    -webkit-perspective: 583px;
    /*-moz-perspective: 583px;*/
}
.glasses {
    width: 100%;
    position: absolute;
    min-height: 350px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin-z: 500px;
    /*-webkit-animation-duration: 0s;*/
    -webkit-animation-timing-function: easy-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: rotateX(90deg) translateZ(-400px);
    /*-moz-transform-style: preserve-3d;
    -moz-transform-origin-z: 500px;
    -moz-animation-timing-function: easy-in-out;
    -moz-animation-fill-mode: forwards;
    -moz-transform: rotateX(90deg);
    -moz-transform: translateZ(-400px);*/
}

.glasses.down,.glasses.up{
    -webkit-animation-name: lower-glasses;
    -webkit-animation-play-state: paused;
    /*-moz-animation-name: lower-glasses;
    -moz-animation-play-state: paused;*/
    /*animation-name: lower-glasses;
    animation-play-state: paused;*/
}

.glasses.down {
    -webkit-animation-direction: normal;
    /*-moz-animation-direction: normal;*/
}

.glasses.up{
    -webkit-animation-direction: reverse;
    /*-moz-animation-direction: reverse;*/
}

.glasses.animate{
    -webkit-animation-duration: 1.5s;
    /*-moz-animation-duration: 1.5s;*/
    /*animation-duration: 1.5s;*/
}

.glasses .side {
    height: 100%;
    width: 100%;
    position: absolute;
}
.glasses .side.left {
    -webkit-transform: rotateY(-90deg);
    /*transform: rotateY(-90deg);*/
    -webkit-transform-origin: 0% 50%;
    /*transform-origin: 0% 50%;*/
}
.glasses .side.right {
    -webkit-transform: rotateY(90deg);
    /*transform: rotateY(90deg);*/
    -webkit-transform-origin: 100% 50%;
    /*transform-origin: 100% 50%;*/
}

@-webkit-keyframes lower-glasses {
    0% {
        -webkit-transform: rotateX(50deg) translateZ(-1000px) translateY(200px);
        opacity: 1;
    }
    1% {
        -webkit-transform: rotateX(0deg) translateZ(400px) translateY(0px);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        -webkit-transform: rotateX(25deg) translateZ(-500px) translateY(-50px);
    }
    100% {
        -webkit-transform: rotateX(50deg) translateZ(-1000px) translateY(100px);
    }
}

/*@keyframes lower-glasses {
    from {
        opacity: 1;
        transform: rotateX(50deg);
        transform: translateZ(-1000px);
        transform: translateY(200px);
        -moz-transform: rotateX(50deg);
        -moz-transform: translateZ(-1000px);
        -moz-transform: translateY(200px);
    }
    1% {
        opacity: 0;
        transform: rotateX(0deg);
        transform: translateZ(400px);
        transform: translateY(0px);
        -moz-transform: rotateX(0deg);
        -moz-transform: translateZ(400px);
        -moz-transform: translateY(0px);
    }
    5% {
        opacity: 1;
    }
    50%{
        transform: rotateX(25deg);
        transform: translateZ(-500px);
        transform: translateY(-50px);
        -moz-transform: rotateX(25deg);
        -moz-transform: translateZ(-500px);
        -moz-transform: translateY(-50px);
    }
    to {
        transform: rotateX(50deg);
        transform: translateZ(-1000px);
        transform: translateY(100px);
        -moz-transform: rotateX(25deg);
        -moz-transform: translateZ(-500px);
        -moz-transform: translateY(-50px);
    }    
}*/