iframe{
    -webkit-transition-duration: 300ms;
}

iframe.blur1{
    -webkit-filter:blur(3px);
}
iframe.blur2{
    -webkit-filter:blur(9px);
}
iframe.blur3{
    -webkit-filter:blur(15px);
}
iframe.blur4{
    -webkit-filter:blur(20px);
}
iframe.blur5{
    -webkit-filter:blur(28px);
}

#glasses_container {
    -webkit-perspective: 583px;
}
.glasses {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    min-height: 350px;
    -webkit-transform-origin-z: 500px;
    -webkit-animation-duration: 0s;
    -webkit-animation-timing-function: easy-in-out;
    -webkit-animation-fill-mode: forwards;

    -webkit-transform: rotateX(90deg) translateZ(-400px);
}

.glasses.down,.glasses.up{
    -webkit-animation-name: lower-glasses;
    --webkit-animation-play-state: paused;
}

.glasses.down {
    -webkit-animation-direction: normal;
}

.glasses.up{
    -webkit-animation-direction: reverse;
}

.glasses.animate{
    -webkit-animation-duration: 1.5s;
}

.glasses .side {
    height: 100%;
    width: 100%;
    position: absolute;
}
.glasses .side.left {
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 0% 50%;
}
.glasses .side.right {
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes lower-glasses {
    /*
    0% {
        -webkit-transform: translateZ(600px);
    }
    50% {
        -webkit-transform: translateZ(-500px) translateY(200px);
    }
    100% {
        -webkit-transform: rotateX(90deg) translateZ(-200px) translateY(200px);
    }
    */
    0% {
        -webkit-transform: rotateX(50deg) translateZ(-1000px) translateY(200px);
        opacity: 1;
    }
    1% {
        -webkit-transform: rotateX(0deg) translateZ(400px) translateY(0px);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        -webkit-transform: rotateX(25deg) translateZ(-500px) translateY(-50px);
    }
    100% {
        -webkit-transform: rotateX(50deg) translateZ(-1000px) translateY(100px);
    }
    
}